.edit-details-form {
    padding: 0 5px;
}
.workout-history-list-item {
    .text-item {
        display: block;
        margin: 10px 18px;
    }
}
.workout-routine-list-item {
    .text-item {
        display: block;
        margin: 10px 18px;
    }
}
