.workout-empty-container {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    ion-img {
        width: 80%;
        height: 200px;
    }
    ion-button{
        margin-top: 20px;
        width: 80%;
    }
}
.history-item-stat{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    ion-icon{
        margin-right: 5px;
        font-size: 20px;
    }
}